@import "src/assets/scss/variables";
@import "src/assets/scss/functions";

.dialog {
  width: rem(300px);
  height: rem(500px);
  color: #fff;
  background-color: $grey;
  border-radius: rem(10px);

  .film-card {
    img {
      width: rem(300px);
      height: rem(200px);
    }

    .rate {
      width: rem(30px);
      height: rem(30px);
      border-radius: 50%;
      background-color: #fff;

      span {
        color: #000;
      }
    }
  }

  .sport-card {
    mat-slider {
      width: rem(200px);
    }

    .calculate {
      button {
        height: rem(35px);
        background-color: #273d3d;
        color: #fff;
        border: none;
      }
    }
  }

  .back-dashboard {
    button {
      height: rem(35px);
      background-color: #fff;
      color: #000;
      border: none;
    }
  }
}
