//add to global styles
.main-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(17,16,16);
  background: linear-gradient(45deg, rgba(17,16,16,1) 62%, rgba(38,38,37,0.9948354341736695) 90%);
  overflow: hidden;

  .logo {
    img {
      width: 200px;
    }
  }

  .weather-container {
    .search {
      input {
        width: 400px;
        border: none;
        height: 40px;

        &:focus {
          outline: none;
        }

        @media screen and (max-width: 767px){
          width: 200px;
        }
      }

      button {
        width: 80px;
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
      }
    }

    .cta-button {
      width: 300px;
      height: 40px;
      background-color: #000;
      color: #fff;
      font-weight: bold;
      border: 0.5px solid #fa9470;
      transition: transform .7s ease-in-out;

      &:hover {
        background-color: #fff;
        color: #000;
        transform: rotateX(360deg);
      }
    }
  }
}

