@import "src/assets/scss/functions";
@import "src/assets/scss/variables";

.main-wrapper {
  .logo {
    img {
      width: rem(200px);
      cursor: pointer;
    }
  }

  .main-content {
    h3 {
      font-size: rem(20px);
    }

    .cta-film {
      font-family: $martel-sans;
      font-weight: bold;
      width: rem(380px);
      height: rem(40px);
      color: #fff;
      background-color: firebrick;
      border: none;

      &:hover {
        background-color: #fff;
        color: #000;
        border: 2px solid firebrick;
      }
    }
  }

  .error {
    width: rem(300px);
    height: rem(80px);

    h5 {
      color: #fff;
    }
  }
}
