@import "src/assets/scss/variables";
@import "src/assets/scss/functions";

.main-container {
  background-color: $grey;
  color: #fff;
  width: rem(280px);
  height: rem(300px);
  border-radius: rem(10px);
  box-shadow: rem(1px) rem(2px) rem(5px) #444444;

  img {
    width: rem(30px);
  }

  .icon {
    width: rem(20px);
  }

  h1,h2 {
    font-size: rem(18px);
  }

  .temperature {
    font-size: rem(28px);
  }

  h3 {
    font-size: rem(16px);
  }

  h4 {
    color: #F38A49;
    font-size: rem(14px);
  }

  #wind {
    color: deepskyblue;
  }
}
